<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Your task list</title>
</head>

<body>
    <div id="app">
        <header class="container text-center">
            <img src="img/logo.png" alt="Logo Boolean">
        </header>

        <main class="container">

            <div class="newTask text-center">
                <!-- BONUS 1 -->
                <input type="text" placeholder="Aggiungi una task" v-model="newTask" @keyup.enter="addTask">
                <!------------->
                <button @click="addTask">AGGIUNGI</button>
            </div>

            <div class="taskList">
                <ul v-if="todoList.length > 0">

                    <li v-for="(task, index) in todoList">

                        <div :class="task.done == true?'line-through':''"
                            @click="taskDone(task)">{{task.text}}
                        </div>
                        <i class="fa-regular fa-circle-xmark" @click="removeTask(index)"></i> 

                    </li>
                </ul>
                <h3 v-else>
                    <i class="fa-solid fa-star"></i>
                    Hai svolto tutte le tue task!
                    <i class="fa-solid fa-star"></i>
                </h3>
            </div>
        </main>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>

</html>